extends layout

block head
  title #{namespace}
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/2.1.1/readable/bootstrap.min.css')

block content
  .container-fluid
    h2 Administration for #{namespace}
    form(action="/#{namespace}/admin", method="post")
      div(class='textbox-div')
        | Name: 
        input(type='text', name='name', value=apiconfig.name)
      div(class='textbox-div')
        | Description: 
        textarea(name='description')= apiconfig.description
      div(class='textbox-div')
        | Image (200x200): 
        input(type='text', name='image', value=apiconfig.image)
      div(class='textbox-div')
        | OAuth Scope: 
        input(type='text', name='scope', value=apiconfig.permissions)
      div(class='textbox-div')
        | Unique Permissions (comma separated):
        input(type='text', name='app_permissions', value=apiconfig.app_permissions)
      div(class='textbox-div')
        | Login Callback URL: 
        input(type='text', name='callbackurl', value=apiconfig.callback_url)
      div.well
        h5 Optional
        div(class='textbox-div')
          | API Key: 
          input(type='text', name='apikey', autofocus)
        div(class='textbox-div')
          | Secret Key: 
          input(type='text', name='secretkey')
      div#button-div
        span
          a.btn.btn-warning.btn-small(href='/', style="margin-right:20px") Home
        span
          button(type='submit', class='btn btn-primary') Update
    ul#fbusers
      each fbuser in fbusers
        li 
          a(href="#{fbuser.link}") #{fbuser.name}