extends layout

mixin app(app)
  .span6.app(data-connected=app.connected, data-namespace=app.namespace)
    div
      a.cover(href='/#{app.namespace}/login')
        img(src='#{app.image}')
      div.controls
        if lifegraphConnected
          if !app.connected
            a.btn.btn-primary.btn-small(href='/#{app.namespace}/login') Allow Access
          else
            a.btn.btn-secondary.btn-small(href="/#{app.namespace}/authToken") View Auth Token
            p#access-granted Access Granted! 
              a#revoke-access(href='/#{app.namespace}/revoke') Revoke Access
        else
          a.btn.btn-primary.btn-small(href='/#{lifegraphNamespace}/login') Login to see access
      .description
        h3 #{app.name}
        p
          | #{app.description}

block head
  title= title
  script(src='/socket.io/socket.io.js')
  script(src='/js/index.js')
  link(rel='stylesheet', href='/css/style.css')

block content
  div.header
    p 
      b#lifegraph-connect Lifegraph Connect
      |  Securely link your physical identity with your Facebook identity.
      if (lifegraphConnected)
        span.right
          if (fbuser && fbuser.name)
            span#hey-name
              b Hey #{fbuser.name}! 
            a#logout-link(href='/logout') Not you? Logout
          else
            a#logout-link(href='/logout') Logout
      else
        a#login-link.right(href="/#{lifegraphNamespace}/login") Login to Lifegraph Connect

  div.container-fluid
    if lifegraphConnected
      if devices.length
        p#token-status Connected tokens:
          each device in devices
            span.label.label-success(data-pid=device.pid)
              | ##{device.pid}
        p#token-help.bottomSpace Use any of these tokens to interact with the apps you've connected below!
      else
        p#token-status.bottomSpace.big
          | You have no tokens associated with your account. Tap a card now and claim the ID!
    else
      p#token-status.big You must 
        a(href="/#{lifegraphNamespace}/login") Login
        |  to see your tokens.

    #unclaimed-tokens

    #apps
      each app, i in apps
        // using the app mixin
        if i % 2 == 0
          .row-fluid
            +app(app) 
            if (i + 1 < apps.length)
              +app(apps[i+1])
    if lifegraphConnected
      hr
      #footer
        a#admin-link(href='/admin') Developer? Admin your apps
            