extends layout

block content
  div.header
    p 
      b Lifegraph Connect
      |  Securely link your physical identity with your Facebook identity.

  div.container-fluid
    #apps.row-fluid

      each app in apps
        .span6.app
          div
            a.cover(href='/#{app.namespace}/login')
              img(src='#{app.image}')
            h3 #{app.name}
            p
              | #{app.description}
            div.controls
              if !connected
                a.btn.btn-primary(href='/#{app.namespace}/login') Connect
              else
                .dropdown
                  a.dropdown-toggle.btn.btn-info(data-toggle="dropdown", href="#")
                    | Permissions
                    b.caret
                  ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                    li
                      a Play Music
                    li
                      a Play Noise
                a.btn.btn-danger(href='/#{app.namespace}/logout') Log out