extends layout

block content
  div.header
    p 
      b Lifegraph Connect
      |  Securely link your physical identity with your Facebook identity.

  div.container-fluid
    #apps.row-fluid

      each app in apps
        .span4
          a.cover(href='/#{app.namespace}/login')
            img(src='#{app.image}')
          div
            p.controls
              a.btn.btn-primary(href='/#{app.namespace}/login') Connect
            h3 #{app.name}
            p
              | #{app.description}