extends layout

mixin app(app)
  .span6.app(data-connected=app.connected, data-namespace=app.namespace)
    div
      a.cover(href='/#{app.namespace}/login')
        img(src='#{app.image}')
      div.controls
        if !app.connected
          a.btn.btn-primary.btn-small(href='/#{app.namespace}/login') Connect
        else
          a.btn.btn-danger.btn-small(href='/#{app.namespace}/logout') Revoke Access
      .description
        h3 #{app.name}
        p
          | #{app.description}

block head
  title= title
  script(src='/socket.io/socket.io.js')
  script(src='/js/index.js')
  link(rel='stylesheet', href='/css/style.css')

block content
  div.header
    p 
      b Lifegraph Connect
      |  Securely link your physical identity with your Facebook identity.
      if (lifegraphConnected)
        a.right(href='/admin') Admin your apps
      else
        a.right(href="/#{lifegraphNamespace}/login") Developer? Login to admin your apps

  div.container-fluid
    if devices.length
      p#token-status Connected tokens:
        each device in devices
          span.label.label-success(data-pid=device.pid)
            | ##{device.pid}
      p#token-help Use any of these tokens to interact with the apps you've connected with below!
    else
      p#token-status
        | No physical tokens connected.

    #unclaimed-tokens

    #apps
      each app, i in apps
        // using the app mixin
        if i % 2 == 0
          .row-fluid
            +app(app) 
            if (i + 1 < apps.length)
              +app(apps[i+1])
            